.text-area{
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 672px; 
    min-height: 140px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #374045;
    border: 0;
    resize: none;
    background: #F1F5F9;
    padding: 0;
    outline: none;
}