.hint__tooltip_position_right-bottom {
  top: 30px;
  bottom: auto;
  left: -12px;
  right: auto;
}

.hint__tooltip_position_right-bottom::after {
  transform: rotate(180deg);
  top: -16px;
  bottom: auto;
  left: 16px;
  right: auto;
}