.portfolio__url-add {
  align-self: start;
  border: none;
  outline: none;
  background-color: transparent;
  color: #048AA7;
  margin: 0 0 32px 0;

  font-size: 16px;
  line-height: 24px;
  display: flex;
  cursor: pointer;
}

.portfolio__url-add::before {
  display: inline-flex;
  content: '';
  width: 24px;
  height: 24px;
  background: url(../../../images/plus.svg);
}