.social {
    border: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 33px auto;
    grid-template-rows: repeat(5, auto);
    gap: 20px;
}

@media screen and (max-width: 900px) {
    .social {
        column-gap: 8px;
        row-gap: 16px;
    }
}