.textarea__field {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  box-sizing: border-box;
  color: #374045;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 23px 48px 25px 16px;
  min-height: 88px;
  outline: none;
  resize: none;
  width: 100%;
}

.textarea__field:placeholder-shown {
  color: #7B878F;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 37px;
  margin-top: 12px;
  padding-top: 0;
}