.text-area{
    -webkit-appearance: none;
    -moz-appearance: none;
    min-height: 88px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #374045;
    border: 0;
    resize: none;
    background: none;
    padding: 0;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    padding-top: 23px;
    padding-left: 16px;
}
.text-area:placeholder-shown{
    padding-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B878F;
}
.text-area:not(:placeholder-shown) + .text-area__label{
    display: flex;
}

.text-area:not(:placeholder-shown) ~ .text-area__count{
    display: flex;
}
.text-area:not(:placeholder-shown) ~ .text-area__delete-icon{
    display: flex;
}