.avatar__input + .avatar__label {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  color: #048AA7;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  left: 18px;
  line-height: 22px;
  max-width: 99px;
  position: absolute;
  text-align: center;
  text-decoration-line: underline;
  top: 44px;
}