.main_estimation_choose_row {
  display: flex;
  flex-direction: row;
  width: auto;
}


@media screen and (max-width: 796px) { /*900px*/
  .main_estimation_choose_row {
    flex-direction: column;
    margin: 0 auto 20px;
    width: 100%;
  }
}