.personal-account-button_none {
    background-color: #E6560A;
    border-radius: 24px 0 0 24px;
    position: relative;
    height: 46px;
    width: 168px;
    cursor: pointer;
    margin-right: 40px;
    
    
    
}
.personal-account-button_none:hover {
    background-color: #CC4D00;
}
.personal-account-button_none:focus {
    border: solid 2px;
    color: #CC4D00;
}

@media screen and (max-width: 796px) { 
    .personal-account-button_none{
        height: 32px;
        width: 32px;
        background-image: url(../../../images/add.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 32px;
        
    }
}