.form-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 0;
    padding: 0;
    margin-bottom: 32px;
    gap: 20px;
    max-width: 736px;
}
@media screen and (max-width: 900px) {
    .form-item{
        gap: 16px;
        grid-template: 1fr / 1fr;
    }
}