.radio-switcher {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .radio-switcher{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}