.radio-switcher-estimation__label {
  background: #FFFFFF;
  border: 1px solid #048AA7;
  border-left: none;
  color: #048AA7;
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  margin: 0;
  padding: 16px 0;
  text-align: center;
  text-transform: uppercase;
}

.radio-switcher-estimation__label:hover {
  opacity: .7;
}

.radio-switcher-estimation__label:first-of-type {
  border-radius: 6px 0 0 6px;
}

.radio-switcher-estimation__label:last-of-type {
  border-radius: 0 6px 6px 0;
}

.radio-switcher-estimation__input:checked+.radio-switcher-estimation__label {
  background-color: #72D0DC;
  border-color: #72D0DC;
  color: #fff;
}

.radio-switcher-estimation__input:checked+.radio-switcher-estimation__label:hover {
  background-color: #048AA7;
  border-color: #048AA7;
}

.radio-switcher-estimation__input:last-of-type:checked+.radio-switcher-estimation__label {
  border-left-color: #048AA7;
}

.radio-switcher-estimation__input:disabled+.radio-switcher-estimation__label {
  opacity: .6;
}

@media screen and (max-width: 900px) {
  .radio-switcher-estimation__input:first-of-type {
    margin: 0;
  }

  .radio-switcher-estimation__input:last-of-type {
    border: solid 1px #048AA7;
    border-radius: 0 0 6px 6px;
    border-top-color: transparent;
    margin: -1px 0 0 0;
  }

  .radio-switcher-estimation__input:first-of-type:checked + .radio-switcher-estimation__input {
    border-bottom-color: #048AA7;
  }
}