.popup__title {
  color: #58646A;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding: 0 16px 4px 28px;
  position: relative;
}

.popup__title:before {
  content: url(../../../images/Group12.svg);
  left: 0px;
  position: absolute;
  top: 0;
}