.input__field {
    align-self: flex-end;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #F1F5F9;
    border: none;
    box-sizing: border-box;
    color: #374045;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: max-content;
    line-height: 20px;
    outline: none;
    padding-bottom: 5px;
    padding-left: 16px;
    width: calc(100% - 55px);
}
.input__field:placeholder-shown{
    align-self: center;
    color: #7B878F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 0;
}
.input__field:not(:placeholder-shown) + .input__label{
    display: flex;
}
.input__field:not(:placeholder-shown) ~ .input__btn_type_clear-text{
    display: flex;
}