.popup-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}