.notifications-form__checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    margin: 4px 0;
    cursor: pointer;
    outline: auto #72D0DC;
}
.notifications-form__checkbox:checked{
    background: url(../../../images/checkbox.svg) center;
    background-size: 16px 16px;
}