.footer__firms-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .footer__firms-item {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .footer__firms-item:last-of-type {
    padding-top: 8px;
  }
}