.pop-up-window {
    background-color: #FFFFFF;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 352px;
    height: 108px;
    border-radius: 8px;
    display: none;
    
}

@media screen and (max-width: 796px) { 
    .pop-up-window {
        top: 16px;
        right: 16px;
        width: 312px;
    }
}