.btn_style_secondary {
  box-sizing: border-box;
  color: #374045;
  max-width: max-content;
  padding: 20px 29px;
  width: 100%;
  border: 1px solid #A0ABB5;
}

.btn_style_secondary:hover {
  border-color: #E65609;
  color: #E65609;
  opacity: 1;
}

.btn_style_secondary:focus {
  border: 1px solid #7B878F;
  color: #374045;
}

.btn_style_secondary:active {
  border: 1px solid #CC4D00;
  color: #CC4D00;
}

.btn_style_secondary:disabled {
  opacity: .6;
}

@media screen and (max-width: 900px) {
  .btn_style_secondary {
    max-width: 100%;
    order: 1;
    width: 100%;
  }
}
