.btn_style_telegram {
  background: url(../../../images/icon-telegram.svg) no-repeat left 32px center, #54A9EA;
  border-radius: 6px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: .25px;
  padding: 20px 32px 20px 58px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  
}

@media screen and (max-width: 900px) {
  .btn_style_telegram {
    max-width: max-content;
    justify-self: end;
  }
}