.btn_style_primary {
  background: #e65609;
  box-sizing: border-box;
  color: #ffffff;
  max-width: max-content;
  padding: 20px 32px;
  width: 100%;
  border: 1px solid transparent;
}

.btn_style_primary:hover {
  background: #cc4d00;
  opacity: 1;
}

.btn_style_primary:focus {
  background: #e65609;
  border: 1px solid #aa4000;
}

.btn_style_primary:active {
  background: #aa4000;
}

.btn_style_primary:disabled,
.btn_style_primary:disabled:hover,
.btn_style_primary:disabled:focus,
.btn_style_primary:disabled:active {
  background: #e65609;
  opacity: 0.6;
  cursor: default;
}

@media screen and (max-width: 900px) {
  .btn_style_primary {
    margin-top: 14px;
    /* margin: 0 auto; */
    max-width: 100%;
    order: 0;
  }
}
