.btn_style_add {
    background: rgba(58, 70, 76, 1);
    box-sizing: border-box;
    color: #FFFFFF;
    max-width: max-content;
    padding: 20px 32px;
    width: 100%;
    border: solid 2px transparent;
    margin-top: 32px;
    height: 56px;
}

.btn_style_add:hover {
    background: rgb(36, 36, 36);
    opacity: 1;
}

.btn_style_add:active {
    background: black;
}

.btn_style_add:disabled {
    opacity: .6;
}

@media screen and (max-width: 900px) { 
    .btn_style_add {
        margin: 0 auto;
        max-width: 100%;
        margin-top: 12px;
        order: 0;
        width: 100%;
    }
}