.textarea__btn_type_clear-text {
  background: url(../../../../images/close-delete-icon.svg) no-repeat center;
  background-size: 24px 24px;
}

.textarea__field:not(:placeholder-shown) ~ .textarea__btn_type_clear-text {
  display: flex;
}