.help-message {
    bottom: 36px;
    margin: 0;
    min-width: 352px;
    position: absolute;
    right: -12px;
    text-align: left;
    z-index: 2;
    display: none;
}

.input__info-btn:hover > .help-message {
    display: block;
}

@media screen and (max-width: 900px){
    .help-message{
        min-width: 312px;
    }
}
