.help-message{
    position: absolute;
    min-width: 352px;
    margin: 0;
    height: max-content;
    z-index: 2;
    bottom: 36px;
    right: -12px;
}
@media screen and (max-width: 900px){
    .help-message{
        min-width: 312px;
    }
}