.sidebar-nav__link-regHKO {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #7B878F;
}

.sidebar-nav__link-style-regHKO {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 12px;
  width: 32px;
  height: 32px;
  background-color: #F5F6F8;
  border-radius: 50%;
}

.sidebar-nav__link-regHKO:hover {
  color: #E65609;
}

.sidebar-nav__link-regHKO:hover .sidebar-nav__link-style-regHKO {
  background-color: #E65609;
  color: #fff;
}

.sidebar-nav__link-regHKO:focus {
  color: #7B878F;
}

.sidebar-nav__link-regHKO:focus .sidebar-nav__link-style-regHKO {
  background-image: url(../sidebar-image/nav-link-check-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #72D0DC;
}

.sidebar-nav__link-regHKO:focus .hidden-num {
  opacity: 0;
}



.link-style-regHKO_checked {
  background-image: url(../sidebar-image/nav-link-check-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #72D0DC;
}

.hidden-num_checked {
  opacity: 0;
}