body {
  display: flex;
  gap: 50px;
}

.sidebar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.sidebar__nav {
  border: 1px solid #E3E9F0;
  border-radius: 4px;
  /* max-width: 256px; */
  box-sizing: border-box;
  padding: 20px;
}

.nav__lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.sidebar__profile {
  color: #58646A;
}

.sidebar__title {
  font-weight: 700;
  margin: 24px 0 0 0;
  padding: 0;
}

.sidebar__status {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #3A464C;
  color: #fff;
  width: 160px;
  height: 20px;
  border: 2px solid #3A464C;
  border-radius: 12px;
  padding: 0 6px 0 12px;
  margin: 10px 0 0 0;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.sidebar__status:hover {
  opacity: 0.8;

}

.sidebar__status:focus {
  border: 2px solid #E65609;
}