.novigation-btns__back-btn{
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 32px;
    border: 1px solid #A0ABB5;
    border-radius: 6px;
    background: #FFFFFF;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #374045;
    cursor: pointer;
    justify-content: center;
}