.custom-select__field{
    box-sizing: border-box;
    max-width: 358px;
    min-height: 48px;
    background: #FFFFFF;
    border: 1px solid #A0ABB5;
    border-radius: 6px;
    padding: 12px 0px 12px 16px;
    margin: 0;
    position: relative;
    cursor: pointer;
}   