.notifications-form__help-btn{
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    background: url(../../../images/info-btn.svg) center no-repeat;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    padding-left: 7px;
}