.profile__label-checkbox {
  display: flex;
  align-items: center;
  margin: 0 0 32px 0;
}

.profile__label-checkbox::before {
  content: '';
  display: inline-block;
  background-color: #F1F5F9;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
}