.sidebar-nav__item {
  align-items: center;
  color: #58646A;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  white-space: nowrap;
}

/* @media screen and (max-width: 1024px) {
  .sidebar-nav__item {
    gap: max(0px, calc(12 * (100vw - 796px) / (1024 - 796)));
  }
} */

@media screen and (max-width: 796px) {
  .sidebar-nav__item {
    background-color: #F5F6F8;
    border-radius: 4px;
    height: 8px;
    overflow: hidden;
    width: 100%;
    /* gap: 12px; */
  }
}