.sidebar-nav__item {
  color: #58646A;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  .sidebar-nav__item {
    width: 100%;
    background-color: #F5F6F8;
    border-radius: 4px;
    height: 8px;
    overflow: hidden;
  }
}