.sidebar__status {
  align-items: center;
  background-color: #3a464c;
  border: 2px solid transparent;
  border-radius: 12px;
  box-sizing: border-box;
  color: #fff;
  cursor: help;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  justify-content: space-between;
  letter-spacing: 1px;
  padding: 0 0 0 12px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 157px;
}

.sidebar__status:after {
  background: url(../../../images/help-icon.svg) no-repeat center center;
  content: '';
  display: block;
  height: 12px;
  position: absolute;
  right: 10px;
  top: 4px;
  width: 12px;
}

.sidebar__status:hover {
  background-color: #899094;
}

.sidebar__status:focus {
  border: 2px solid #E65609;
}

.sidebar__status:active {
  opacity: 1;
  border: 2px solid #3a464c;
}
