.company__btn{
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #048AA7;
    border-radius: 6px 0px 0px 6px;
    cursor: pointer;
    transition: .5s;
    color: #048AA7;
    position: absolute;
    top: 0;
    left: 0;
}
.company__btn:checked{
    background: #72D0DC;
    border-color: #72D0DC;
}
.company__btn:checked + .company__text{
    color: #FFFFFF;
}

@media screen and (max-width: 900px) {
    .company__btn{
        border-radius: 6px 6px 0px 0px;
    }
}