.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 24px 0 0 0;
}

@media screen and (max-width: 796px) {
  .breadcrumbs {
    justify-content: center;
  }
} 
