.main__estimation-choose {
    display: flex;
    flex-direction: column;    
}

.main__estimation-choose:first-of-type {
    margin-top: 24px;
}

@media screen and (max-width: 900px) { 
    .main__estimation-choose {
    width: 100%;
    margin: 0 auto;
    }
}