.sidebar-nav__step {
  align-items: center;
  background-color: #F5F6F8;
  border-radius: 50%;
  display: flex;
  font-weight: 400;
  height: 32px;
  justify-content: center;
  width: 32px;
  gap: 12px;
}

/* @media screen and (max-width: 1024px) {
  .sidebar-nav__step {
    gap: max(0px, calc(12 * (100vw - 796px) / (1024 - 796)));
  }
} */

@media screen and (max-width: 900px) {
  .sidebar-nav__step {
    border-radius: 0;
    height: 100%;
    width: 100%;
    background-color: #72D0DC;
    /* gap: 12px; */
  }
}
