.copy-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 77.7%;
    margin: 64px 11.11% 76px 11.11%;
}

@media screen and (max-width: 1100px) {
    .copy-container {
        margin: 64px 4% 76px 4%;
        width: 90%;
    }
    
}

@media screen and (max-width: 796px) { 
    .copy-container {
       flex-direction: column-reverse;
       align-items: flex-start;
       margin: 92px 0 58px 0;
        
    }
}