.copy-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 76px;
    width: 86%;
    
}

@media screen and (max-width: 796px) { 
    .copy-container {
       flex-direction: column-reverse;
       align-items: flex-start;
       margin: 92px 0 58px 0;
        
    }
}