.search {
  background-image: url(../../images/Vector.svg);
  width: 17px;
  height: 17px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  cursor: pointer;

}

@media screen and (max-width: 900px) {
  .search {
    display: none;
  }
}