.help-message__text{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #58646A;
    margin: 12px 16px 12px 16px;
    max-width: 100%;
}