.avatar__btn-delete,
.avatar__btn-delete:hover{
  background: url(../../../images/icon-x-white.svg) no-repeat center center, #E65609;
  border-radius: 50%;
  height: 24px;
  left: 121px;
  top: -2px;
  position: absolute;
  width: 24px;
}