.input__label{
    position: absolute;
    top: 7px;
    left: 16px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #7B878F;
}