.link {
  color: #7DCDD7;
  text-decoration-line: underline;
  text-underline-position: under;
  text-underline-offset: 0;
  transition: all 0.5s ease;
}

.link:active {
  color: #374146;
  text-decoration: none;
}

.link:visited {
  color: #7B878F;
}

.link:hover {
  text-decoration: none;
}