.change-password__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../../../images/setting-eye.svg);
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
}