.social__input-container {
    width: 100%;
    max-width: 736.29px;
    height: 48px;
    display: flex;
    align-items: center;
    background-color: #F1F5F9;
    position: relative;
    
}

@media screen and (max-width: 900px) {
    .social__input-container {
        width: 100%;
        max-width: 264px;
        
    }
}