.fieldset_style_hours {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 288px;
  padding-left: 16px;
  color: #7B878F;   
}

@media screen and (max-width: 900px) {
  .fieldset_style_hours {
    min-width: 100%;
  }
}