.input__field_type_calendar[type="date"]::-webkit-calendar-picker-indicator {
    background: url(../../../../images/calendar.svg) no-repeat center;
    cursor: pointer;
    margin-bottom: 16px;
    margin-right: 10px;
    display: block;
  }
