.information{
    align-items: flex-start;
    border: 1px solid #E3E9F0;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
  }
