.footer__logo_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86%;
    margin-top: 64px;
}

@media screen and (max-width: 796px) { 
    .footer__logo_container{
       flex-direction: column;
       margin-top: 48px;
       justify-content: space-between;
       width: 50.27%;
       align-self: flex-start;
       margin-left: 6.66%;
       
        
    }
}