.setting-btn {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 6px;
  width: 147px;
  height: 56px;
  display: block;
  background-color: #E65609;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}