.paragraph_style_estimation {
    border-bottom: 1px solid;
    border-color: rgba(220, 220, 220, .5);
    padding: 0;
    min-height: 72px;
    padding-bottom: 24px;
    max-width: 736px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


@media screen and (max-width: 796px) { /*900px*/
    .paragraph_style_estimation {
        width: 100%;
        margin-right: auto;
    }
}