.company__text{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    color: #048AA7;
    transition: .5s;
    margin: 0;
    padding: 0;
    z-index: 1;
}