.menu-icon {
  background: url(../../images/menu.svg) no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .menu-icon {
    display: block;
    justify-self: left;
    height: 24px;
    width: 24px;
  }
}