.main__estimation-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin-top: 32px;*/
    border-top: 1px solid;
    border-color: rgba(220, 220, 220, .5);
}


@media screen and (max-width: 900px) { 
    .main__estimation-submit {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding-top: 32px;
    }
}