.header__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1120px;
}

@media screen and (max-width: 900px) {
    .header__wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}