.main_template_table-element {
  grid-template-columns: 256px minmax(min-content, 736px);
}

@media screen and (max-width: 900px) {
  .main_template_table-element {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding-bottom: 80px;
    row-gap: 28px;
  }
}