.main_template_first-step {
  grid-template-columns: 100%;
  grid-template-rows: auto;
  padding-top: 64px;
  padding-bottom: 312px;
}

@media screen and (max-width: 900px){
  .main_template_first-step {
    grid-template-columns: 100%;
    padding-top: 24px;
    padding-bottom: 236px;
  }
}