.main_template_first-step {
  grid-template-columns: minmax(min-content, 1024px);
  grid-template-rows: auto;
  padding-bottom: 312px;
  padding-top: 64px;
  position: relative;
  background-color: #F1F7FF;
}

.main_template_first-step::before {
  background: url(../../../images/first-step-background.svg) no-repeat right top;
  max-width: 1440px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  content: '';
}

.main_template_first-step > .content {
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .main_template_first-step {
    grid-template-columns: 100%;
    padding-bottom: 268px;
    padding-top: 24px;
  }
  .main_template_first-step::before {
    background: url(../../../images/first-step-background-reverse.svg) no-repeat left bottom;
  }
}