/* подправил кнопку на 360px */
@media screen and (max-width: 900px) {
  .account-btn__content_type_ld {
    background: url(../../../../images/tasks.svg) no-repeat center center,
      #e6560a;
    height: 32px;
    min-height: 32px;
    width: 32px;
    border-radius: 50px;
  }
}
