.input_type_password::-ms-reveal,
.input_type_password::-ms-clear
{
    color: rgba(0, 0, 0, 0);
    display: block;
    background: url(../../../../images/eye.svg) no-repeat center;
    background-size: 24px 24px;
    border-width: thin;
    height: 24px;
    width: 24px;
    cursor: pointer;
    padding-right: 12px;
}
.input_type_password{
    width: 100%;
    padding: 0;
}