.custom-select__list_type_multiselect-full {
  max-width: 100%;
  min-width: 252px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 900px) {
  .custom-select__list-container.splash .custom-select__list_type_multiselect-full {
    padding: 16px 24px 16px 24px;
  }
}
