.custom-select__list-container {
  display: none;
  margin-top: 4px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

@media screen and (min-width: 900px) {
  .custom-select__item:hover > .custom-select__list-container {
    display: block;
    left: 100%;
    top: -12px;
  }
}

@media screen and (max-width: 900px) {
  .custom-select__list-container {
    width: calc(100% - 50px);
    max-width: 736px;
  }

  .custom-select__list-container.splash {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-top: 0;
    background: #F1F5F9;
    overflow: hidden;
    overflow-y: auto;
  }

  .custom-select__item > .custom-select__list-container {
    display: none;
    margin-left: -8px;;
    padding-top: 19px;
    position: initial;
    width: calc(100% + 16px);
  }
}
