.breadcrumbs__item {
  color: #7B878F;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}

/*расстановка слешей относится к классу breadcrumbs__links, а не к breadcrumbs__item
  во всех предыдущих страницах не было breadcrumbs__links с двумя и более членами*/
/* .breadcrumbs__item:after {
  content: '/';
  padding-left: 8px;
} 

.breadcrumbs__item:last-of-type:after {
  content: '';
  padding-left: 0px;
} */