.input_type_calendar::-webkit-calendar-picker-indicator {
    background: url(../../../images/calendar.svg) no-repeat center;
    background-size: 18px 15px;
    border-width: thin;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 24px;
    position: absolute;
    right: 12px;
    top: 9px;
    width: 24px;
}
.input_type_calendar{
    margin: 0;
    width: calc(100% - 55px);
}