.lifeline-img {
    position: absolute;
    top: -64px;
    right: 0;
    z-index: 0;
    height: 480px;
}

@media screen and (max-width: 1250px) {
    .lifeline-img {
        width: 55%;
    }
}

@media screen and (max-width: 900px) {
    .lifeline-img {
    width: 253px;
    height: 240px;
    /*width: 83%;
    height: 83%;*/
  
    top: 92px;
    right: -47px;
    
        
    }
}