.copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 64px 0 76px 0;
    width: 100%;
    max-width: 1120px;
    gap: 37px;
}

@media screen and (max-width: 900px) {
    .copy {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding: 92px 0 58px 0;
        gap: 44px;
    }
}

