.popup_type_message {
  max-width: 352px;
  width: 352px;
}

.messages .popup_type_message {
  position: initial;
}

@media screen and (max-width: 450px) {
  .popup_type_message {
    max-width: 100%;
    width: 312px;
  }
}

@media screen and (max-width: 359px) {
  .popup_type_message {
    max-width: 252px;
  }
}