.footer__logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1120px;
  padding-top: 64px;
}


@media screen and (max-width: 900px) {
  .footer__logo-container{
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    padding-top: 48px;
  }
}