.novigation-btns{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template: 1fr/ max-content max-content;
    justify-content: space-between;
}

@media screen and (max-width: 900px){
    .novigation-btns{
        grid-template: 1fr 1fr / 1fr;
        gap: 16px;
    }
}