.company__lable{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}
@media screen and (max-width: 900px) {
    .company__lable{
        min-height: 48.5px;
    }
}