.social__warning {
    padding: 0;
    margin-top: -8px;
    grid-column: 1 / -1;
}

@media screen and (max-width: 900px) {
    .social__warning {
        width: 312px;
        margin-top: -4px;
    }
}