.main_estimation_choose {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

@media screen and (max-width: 796px) {
    .main_estimation_choose {
    width: 100%;
    margin: 0 auto;
    }
}